<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="bitcamp.dao.CardDao">
    <resultMap type="Card" id="CardMap">
        <id column="cno" property="cno"/>
        <result column="name" property="name"/>
        <result column="email" property="email"/>
        <result column="cphone" property="cellPhone"/>
        <result column="tphone" property="tellPhone"/>
        <result column="fax" property="fax"/>
        <result column="cont" property="contents"/>
        <association property="Member" javaType="Member" >
            <id column="mno" property="mno"/>
        </association>
    </resultMap>
    
    <insert id="insert" parameterType="Card">
        insert into a_card(name, email, cphone, tphone, fax, cont, mno) values(#{name}, #{email}, ${cphone}, ${tphone}, ${fax}, ${mno})
    </insert>
    
    <select id="selectAll" parameterType="Member" resultMap="CardMap">
        select name, email, cphone, tphone, fax, cont from a_card where mno=${mno}
    </select>
</mapper>